.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content {
    padding: 5em 0 0 0;
    display: block;
    flex-direction: column;
    align-items: center;
}

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .225s ease;
}

.product-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.product-image_container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.product-image_image {
    width: 100%;
    transition: all .3s ease;
}

.product-image_image:hover {
    transform: scale(1.2);
}

.product-options_title {
    text-transform: uppercase;
    font-weight: 600;
}

.product-options_list {
    list-style: none;
    align-self: flex-start;
    padding-inline-start: 0;
}

.product-price {
    font-weight: 600;
    font-size: 1.3em;
}
